h1,h2,h3,h4,h5,h6 {
    
    font-family: 'Titillium Web', sans-serif;
}
body {
    background-color: violet;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}
p {
    color: rgb(0, 0, 0);
    font-size: medium;
    text-transform:capitalize;
    font-family: 'Titillium Web', sans-serif;
    
}

nav a{
font-family: 'Titillium Web', sans-serif;
}
a:link           { color: rgb(4, 24, 54) }  /* unvisited links       */
a:visited        { color: rgb(4, 24, 54) }  /* visited links         */
a:hover, a:focus { color: rgb(224, 9, 9) }  /* user hovers, or focus */
a:active         { color: rgb(10, 0, 0) }  /* active links          */
li{
  
    font-family: 'Titillium Web', sans-serif;
    list-style-position: inside;
}
img{
    width: 90px;
    height: 90px;
    background-color: white;   
}